@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Roboto Mono', monospace;
    }
    .linear-40 {
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EAECF0;
        background-blend-mode: soft-light, normal;
    }
    .inner-shadow {
        box-shadow: inset -9px -9px 16px #FAFBFF, inset 9px 9px 16px #A6ABBD;
    }
    .offer-text {
        width: 284px;
    }
    .offer-btn {
        width: 213px;
        height: 60px;
        background-blend-mode: soft-light, normal;
        /* neo-stroke */

        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        /* shadow/16 */

        box-shadow: -9px -9px 16px #FAFBFF, 9px 9px 16px #A6ABBD;
        border-radius: 55px;
    }
    .offer-btn:active {
        box-shadow: none;
    }
    .border-card {
        background: linear-gradient(248.54deg, rgba(255, 255, 255, 0.68) 1.47%, rgba(255, 255, 255, 0.32) 100%);
        backdrop-filter: blur(30px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 26px;
    }
    .title-bg {
        z-index: -1;
        padding: 4px 20px;
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EAECF0;
        background-blend-mode: soft-light, normal;
        /* neo-stroke */

        border: 1px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        /* shadow/16 */

        box-shadow: -9px -9px 16px #FAFBFF, 9px 9px 16px #A6ABBD;
    }
    .h-card {
        min-height: 1038px;
    }
    .art-bg {
        background: url('./assets/art-bg.png') no-repeat;
        /* background-position: 50% 50%; */
        background-size: 100%;
        background-size: contain;
    }
    .w-art {
        width: 150px;
        height: 150px;
    }
    .dashboard-profile {
        min-width: 303px;
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #EBECF0;
        background-blend-mode: soft-light, normal;
        box-sizing: border-box;
        box-shadow: -32px -32px 64px #FAFBFF, 32px 32px 64px #A6ABBD;
        border-radius: 30px;
    }
    .dashboard-profile-img {
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EAECF0;
        background-blend-mode: soft-light, normal;
        border: 1.21769px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: -3.04422px -3.04422px 6.08844px #FAFBFF, 3.04422px 3.04422px 6.08844px #A6ABBD;
    }
    .dashboard-search {
        width: 100%;
        background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EAECF0;
        background-blend-mode: soft-light, normal;
        box-sizing: border-box;
        box-shadow: inset -9px -9px 16px #FAFBFF, inset 9px 9px 16px #A6ABBD;
        border-radius: 55px;
    }
    .generate-btn {
        width: 100%;
        box-shadow: -7.51456px -7.51456px 13.3592px #FAFBFF, 7.51456px 7.51456px 13.3592px #A6ABBD;
    }
    .generate-btn:active {
        box-shadow: none;
    }
    .ownart-bg {
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #EBECF0;
        background-blend-mode: soft-light, normal;
        box-sizing: border-box;
        box-shadow: inset -16px -16px 32px #FAFBFF, inset 16px 16px 32px #A6ABBD;
        border-radius: 55px;
    }
    .burn-shadow {
        box-shadow: -19.4526px -19.4526px 38.9053px #FAFBFF, 19.4526px 19.4526px 38.9053px #A6ABBD;
    }
    .burn-shadow:active {
        box-shadow: none;
    }
    .editor {
        width: 100%;
        height: 313px;
    }
    .dashboard-art {
        height: 313px;
        width: 313px;
    }
    @screen md {
        .offer-text {
            width: 454px;
        }
        .h-card {
            min-height: 1309px;
        }
        .w-art {
            width: 280px;
            height: 280px;
        }
        .generate-btn {
            width: 240px;
        }
        .dashboard-search {
            width: 262px;
        }
    }
    @screen lg {
        .offer-text {
            width: 425px;
        }
        .h-card {
            min-height: 644px;
        }
        .w-art {
            width:  210px;
            height: 210px;
        }
        .dashboard-search {
            width: 262px;
        }
    }
    @screen xl {
        .h-card {
            min-height: 830px;
        }
        .w-art {
            width: 283px;
            height: 283px;
        }
        .dashboard-search {
            width: 329px;
        }
        .generate-btn {
            width: 300px;
        }
        
    }
    @screen 2xl {
        .offer-text {
            width: 577px;
        }
        .offer-btn {
            width: 371px;
            height: 103px;
        }
        .h-card {
            min-height: 1002px;
        }
        
        .w-art {
            width: 321px;
            height: 321px;
        }
        .dashboard-search {
            width: 442px;
        }
        .generate-btn {
            width: 336px;
        }
    }
}

.z-1 {
    z-index: 1;
}
