@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto Mono', monospace;
  }
  .linear-40 {
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #eaecf0;
    background-blend-mode: soft-light, normal;
  }
  .inner-shadow {
    box-shadow: inset -9px -9px 16px #fafbff, inset 9px 9px 16px #a6abbd;
  }
  .offer-text {
    width: 284px;
  }
  .offer-btn {
    width: 213px;
    height: 60px;
    background-blend-mode: soft-light, normal;
    /* neo-stroke */

    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    /* shadow/16 */

    box-shadow: -9px -9px 16px #fafbff, 9px 9px 16px #a6abbd;
    border-radius: 55px;
  }
  .offer-btn:active {
    box-shadow: none;
  }
  .border-card {
    background: linear-gradient(248.54deg, rgba(255, 255, 255, 0.68) 1.47%, rgba(255, 255, 255, 0.32) 100%);
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 26px;
  }
  .title-bg {
    z-index: -1;
    padding: 4px 20px;
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #eaecf0;
    background-blend-mode: soft-light, normal;
    /* neo-stroke */

    border: 1px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    /* shadow/16 */

    box-shadow: -9px -9px 16px #fafbff, 9px 9px 16px #a6abbd;
  }
  .h-card {
    min-height: 1038px;
  }
  .art-bg {
    background: url('./assets/art-bg.png') no-repeat;
    /* background-position: 50% 50%; */
    background-size: 100%;
    background-size: contain;
  }
  .w-art {
    width: 150px;
    height: 150px;
  }
  .dashboard-profile {
    min-width: 303px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #ebecf0;
    background-blend-mode: soft-light, normal;
    box-sizing: border-box;
    box-shadow: -32px -32px 64px #fafbff, 32px 32px 64px #a6abbd;
    border-radius: 30px;
  }
  .dashboard-profile-img {
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #eaecf0;
    background-blend-mode: soft-light, normal;
    border: 1.21769px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: -3.04422px -3.04422px 6.08844px #fafbff, 3.04422px 3.04422px 6.08844px #a6abbd;
  }
  .dashboard-search {
    width: 100%;
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #eaecf0;
    background-blend-mode: soft-light, normal;
    box-sizing: border-box;
    box-shadow: inset -9px -9px 16px #fafbff, inset 9px 9px 16px #a6abbd;
    border-radius: 55px;
  }
  .generate-btn {
    width: 100%;
    box-shadow: -7.51456px -7.51456px 13.3592px #fafbff, 7.51456px 7.51456px 13.3592px #a6abbd;
  }
  .generate-btn:active {
    box-shadow: none;
  }
  .ownart-bg {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #ebecf0;
    background-blend-mode: soft-light, normal;
    box-sizing: border-box;
    box-shadow: inset -16px -16px 32px #fafbff, inset 16px 16px 32px #a6abbd;
    border-radius: 55px;
  }
  .burn-shadow {
    box-shadow: -19.4526px -19.4526px 38.9053px #fafbff, 19.4526px 19.4526px 38.9053px #a6abbd;
  }
  .burn-shadow:active {
    box-shadow: none;
  }
  .editor {
    width: 100%;
    height: 313px;
  }
  .dashboard-art {
    height: 313px;
    width: 313px;
  }
  .popup-gradient {
    background: linear-gradient(243.01deg, #5ae1ff 8.76%, #8728e6 104.39%), #b5309c;
  }
  .popup-gradient:hover {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #1f385c;
    background-blend-mode: soft-light, normal;
  }
  .popup-gradient-active {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #1f385c;
    background-blend-mode: soft-light, normal;
  }
  .popup-bg {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #ebecf0;
    background-blend-mode: soft-light, normal;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .popup-input {
    background: #ffffff;
    border: 0.716019px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: inset -6.44417px -6.44417px 11.4563px #fafbff, inset 6.44417px 6.44417px 11.4563px #a6abbd;
    border-radius: 39.3811px;
  }
  .popup-input-error {
    background: #ffffff;
    /* Style */

    border: 0.716019px solid #f94119;
    box-sizing: border-box;
    box-shadow: inset -6.44417px -6.44417px 11.4563px #fafbff, inset 6.44417px 6.44417px 11.4563px #a6abbd;
    border-radius: 39.3811px;
  }
  .popup-input:hover {
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #ecedf1;
    background-blend-mode: soft-light, normal;
    border: 0.716019px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: inset -6.44417px -6.44417px 11.4563px #fafbff, inset 6.44417px 6.44417px 11.4563px #a6abbd;
  }
  .popup-input-error:hover {
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #ecedf1;
    background-blend-mode: soft-light, normal;
    border: 0.716019px solid #f94119;
    box-sizing: border-box;
    box-shadow: inset -6.44417px -6.44417px 11.4563px #fafbff, inset 6.44417px 6.44417px 11.4563px #a6abbd;
  }
  .popup-input:focus {
    background: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #ecedf1;
    background-blend-mode: soft-light, normal;
    border: 0.716019px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: inset -6.44417px -6.44417px 11.4563px #fafbff, inset 6.44417px 6.44417px 11.4563px #a6abbd;
  }
  .popup-button {
    background: linear-gradient(243.01deg, #5ae1ff 8.76%, #8728e6 104.39%), #b5309c;
    border: 0.597841px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: -5.38057px -5.38057px 9.56546px #fafbff, 5.38057px 5.38057px 9.56546px #a6abbd;
    border-radius: 32.8813px;
  }
  .popup-button:hover {
    background: #bfbfbf;
    border: 0.597841px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: -5.38057px -5.38057px 9.56546px #fafbff, 5.38057px 5.38057px 9.56546px #a6abbd;
    border-radius: 32.8813px;
  }
  .pulsing {
    animation: pulsing 1s infinite;
  }
  @keyframes pulsing {
    from {
      width: 0px;
      height: 0px;
    }
    50% {
      width: 73px;
      height: 36px;
    }
    to {
      width: 0px;
      height: 0px;
    }
  }
  @screen md {
    .offer-text {
      width: 454px;
    }
    .h-card {
      min-height: 1309px;
    }
    .w-art {
      width: 280px;
      height: 280px;
    }
    .generate-btn {
      width: 240px;
    }
    .dashboard-search {
      width: 262px;
    }
  }
  @screen lg {
    .offer-text {
      width: 425px;
    }
    .h-card {
      min-height: 644px;
    }
    .w-art {
      width: 210px;
      height: 210px;
    }
    .dashboard-search {
      width: 262px;
    }
  }
  @screen xl {
    .h-card {
      min-height: 830px;
    }
    .w-art {
      width: 283px;
      height: 283px;
    }
    .dashboard-search {
      width: 329px;
    }
    .generate-btn {
      width: 300px;
    }
  }
  @screen 2xl {
    .offer-text {
      width: 577px;
    }
    .offer-btn {
      width: 371px;
      height: 103px;
    }
    .h-card {
      min-height: 1002px;
    }

    .w-art {
      width: 321px;
      height: 321px;
    }
    .dashboard-search {
      width: 442px;
    }
    .generate-btn {
      width: 336px;
    }
  }
}

.z-1 {
  z-index: 1;
}
